<div class="relative px-10 pt-6 pb-12 border rounded-md shadow-md bg-white">
    <div class="">
        <div class="p-2 opacity-100 rounded-md bg-[#6366f1] absolute">
            <ng-icon name="heroEnvelopeOpen" size="1.5rem" color="white" strokeWidth="1px"></ng-icon>
        </div>
        <div class="text-gray-500 font-medium text-sm overflow-hidden overflow-ellipsis whitespace-nowrap ml-16">
            Avg. Open Rate
        </div>
        <div class="pb-7 items-baseline ml-16 flex gap-3 justify-between">
            <p class="text-black font-semibold text-2xl">58.16%</p>
            <p class="text-green-600 font-semibold text-sm items-center flex ml-2">
                <ng-icon name="heroArrowSmallUp" strokeWidth="1px"></ng-icon>
                <span>5.4%</span>                
            </p>            
        </div>
        <div class="absolute bottom-0 left-0 right-0  bg-gray-50 px-6 py-4">
            <div class="text-sm">
                <a href="#" class="text-[#6366f1] font-medium">View All</a>
            </div>
        </div>
    </div>
</div>
