<!-- <section class="px-5 sticky top-0 h-[100vh] mt-5 lg:mt-0"> -->
    <ng-container *ngIf="cart">
        <!-- <div class="box p-5 rounded-md">
            <p class="font-bold text-gray-500 pb-4">PRICE DETAILS</p>
            <mat-divider></mat-divider> -->

            <div class="space-y-3">
                <div class="flex justify-between pt-3">
                    <span class="text-base font-normal">Total Price</span>
                    <span class="font-semibold">$6999</span>
                </div>
                <mat-divider></mat-divider>
                <div class="flex justify-between pt-3">
                    <span class="text-base font-normal">Discount</span>
                    <span class="font-semibold text-red-700">$-3999</span>
                </div>
                <mat-divider></mat-divider>
                <div class="flex justify-between pt-3">
                    <span class="text-base font-normal">Delevery Charges</span>
                    <span class="font-semibold text-green-700">Free</span>
                </div>
                <mat-divider></mat-divider>
                <div class="flex justify-between font-semibold text-lg py-5">
                    <span>Total Amount</span>
                    <span class="text-green-700">$4999</span>
                </div>
            </div>

            <!-- <button mat-raised-button (click)="navigateToCheckout()" style="padding: 1.5rem;" class="text-lg mt-8 p-28 px-10 w-full cursor-pointer my-accent">CHECKOUT</button> -->
        <!-- </div> -->
    </ng-container>
<!-- </section> -->