<section class="relative w-full h-[300px] bg-black text-white bg-gradient-to-r from-violet-500 to-fuchsia-500">
<!-- <section class="relative w-full h-[350px] bg-black text-white bg-[url('assets/resource/bg002.jpg')]"> -->
    <div class="absolute top-0 left-0 right-0 h-full bg-black bg-opacity-50">
        <div class="grid grid-cols-1 gap-4 place-content-center h-full">
            <div class="place-self-center text-xl md:text-7xl font-semibold ">{{pageTitle}}</div>
            <div class="place-self-center w-52 ">
                <app-bread-crump />
            </div>
          </div>
    </div>

</section>