.carousel{
    display: flex;
    transition: transform 0.6 ease-in-out;
}

.carousel-item{
    flex: 0 0 auto;
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .carousel-item img{
        width: auto !important;
        height: 450px !important;
    }        
}