<div class="my-secondary mt-10 text-center px-5 lg:px-20">

    <div class="container">

        <div class="py-10 flex flex-wrap text-start md:text-center justify-between">

            <div class="px-4 mb-4">
                <h1 class="md:px-5 text-lg font-semibold text-white">Comapany</h1>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>
            
            <div class="px-4 mb-4">
                <h1 class="md:px-5 text-lg font-semibold text-white">Solutions</h1>
                <p class="mb-2">Marketing</p>
                <p class="mb-2">Analytics</p>
                <p class="mb-2">Commerce</p>
                <p class="mb-2">Insights</p>
                <p class="mb-2">Support</p>
            </div>
            
            <div class="px-4 mb-4">
                <h1 class="md:px-5 text-lg font-semibold text-white">Docummentations</h1>
                <p class="mb-2">Guides</p>
                <p class="mb-2">API Status</p>
            </div>
            
            <div class="px-4 mb-4">
                <h1 class="md:px-5 text-lg font-semibold text-white">Legal</h1>
                <p class="mb-2">Claims</p>
                <p class="mb-2">Privacy</p>
                <p class="mb-2">Terms</p>
            </div>

        </div>

    </div>

</div>

<div class="pt-7 pb-2 my-secondary2 text-center text-gray-600">
    <p>&copy; 2023 My Company. All rights reserved.</p>
    <p>Made with love by KingsIntersect</p>
    <p>
        icons made by  
        <a href="#" class="text-white underline" _target="_blank" rel="noopener"> Freepik </a>
        from 
        <a href="#" class="text-white underline" _target="_blank" rel="noopener"> www.flaticon.com </a>
    </p>
</div>




















<!-- <div class="bg-black text-white mt-10 text-center px-5 lg:px-20">

    <div class="container">

        <div class="py-3 flex justify-between">

            <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Comapany</h1>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>

            <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Solutions</h1>
                <p class="mb-2">Marketing</p>
                <p class="mb-2">Analytics</p>
                <p class="mb-2">Commerce</p>
                <p class="mb-2">Insights</p>
                <p class="mb-2">Support</p>
            </div>
            
            <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Docummentations</h1>
                <p class="mb-2">Guides</p>
                <p class="mb-2">API Status</p>
            </div>
            
            <div class="px-4">
                <h1 class="px-5 text-lg font-semibold text-gray-500">Legal</h1>
                <p class="mb-2">Claims</p>
                <p class="mb-2">Privacy</p>
                <p class="mb-2">Terms</p>
            </div>

        </div>

    </div>

</div>

<div class="py-7 bg-gray-900 text-center text-gray-600">
    <p>&copy; 2023 My Company. All rights reserved.</p>
    <p>Made with love by KingsIntersect</p>
    <p>
        icons made by  
        <a href="#" class="text-white underline" _target="_blank" rel="noopener"> Freepik </a>
        from 
        <a href="#" class="text-white underline" _target="_blank" rel="noopener"> www.flaticon.com </a>
    </p>
</div> -->